@model PageNationList<Product>

        <div class="shop_sidebar_area">

            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Catagories</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <li>
                                <a href="#" class="category-link" data-category-id="@category.ID">
                                    @category.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget brands mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Brands</h6>

                <div class="widget-desc">
                    <!-- Single Form Check -->
                       @foreach (var brand in ViewBag.Brands)
                        {
                            <div class="form-check">
                                <input class="form-check-input brand-checkbox" type="checkbox" data-brand-id="@brand.ID" id="brand_@brand.ID">
                                <label class="form-check-label" for="brand_@brand.ID">
                                    @brand.Name
                                </label>
                            </div>
                        }
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget color mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Color</h6>

                <div class="widget-desc">
                    <ul class="d-flex">
                        @foreach (Color color in ViewBag.Colors)
                        {
                            <li><a href="#" class="color@(color.ID) color-main" data-color-id="@color.ID"></a></li>
                        }
                    </ul>
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget price mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Price</h6>

                <div class="widget-desc">
                    <div class="slider-range">
                        <div id="price-slider" data-min="10" data-max="1000" data-unit="$"></div>
                        <div class="range-price" id="price-range">$10 - $1000</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p id="data-brain" data-start="@Model.Start" data-totalItems="@Model.TotalItems">Showing @Model.Start-@Model.TotalItems 0f @ViewBag.Products.Count</p>
                                <div class="view d-flex">
                                    <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <div class="sort-by-date d-flex align-items-center mr-15">
                                    <p>Sort by</p>
                                    <form id="viewDateForm" action="#" method="get">
                                        <select name="select" id="sortBydate">
                                            <option value="0">Newest</option>
                                            <option value="1">Oldest</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="view-product d-flex align-items-center">
                                    <p>View</p>
                                    <form id="viewProductForm" method="post">
                                        <select id="viewProduct">
                                            <option value="0">3</option>
                                            <option value="1">6</option>
                                            <option value="2">9</option>
                                            <option value="3">12</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="filteredProducts">
                    <!-- Single Product Area -->
                    @await Html.PartialAsync("_FilteredProductPartial",Model)
                </div>
            </div>
        </div>

@section scripts {

        <script>

            $(document).ready(function () {
                var dataBrain = $("#data-brain");

                $(document).on("click", ".pagination a.page-link", function (e) {

                    var clickedPage = $(this).data("page");

                    e.preventDefault();

                    var pageSize = 5; 

                    var start = (clickedPage - 1) * pageSize + 1;
                    var end = start + pageSize - 1;
                    var totalItems = @ViewBag.Products.Count;

                    var newDisplayInfo = "Showing " + start + "-" + end + " of " + totalItems;


                    dataBrain.text(newDisplayInfo);
                });
            });

            $(document).ready(function () {
                $('#viewProductForm .list').on('click', '.option', function () {
                    var selectedValue = $(this).data('value');

                    $.ajax({
                        url: '/Shop/FilterProducts',
                        type: 'POST',
                        data: {
                            pageSize: selectedValue,
                        },
                        success: function (data) {
                            $('#filteredProducts').html(data);
                        },
                        error: function (error) {
                            console.error('FilterProducts error:', error);
                        }
                    });
                });
            });

            $(document).ready(function () {
                $('#viewDateForm .list').on('click', '.option', function () {
                    var selectedValue = $(this).data('value');

                    $.ajax({
                        url: '/Shop/FilterProducts',
                        type: 'POST',
                        data: {
                            selectedDate: selectedValue,
                        },
                        success: function (data) {
                            $('#filteredProducts').html(data);
                        },
                        error: function (error) {
                            console.error('FilterProducts error:', error);
                        }
                    });
                });
            });

            $(document).ready(function () {
                $('#viewProductForm .list').on('click', '.option.selected', function () {
                    var selectedValue = $(this).data('value');

                    $.ajax({
                        url: '/Shop/FilterProducts',
                        type: 'POST',
                        data: {
                            pageSize: selectedValue,
                        },
                        success: function (data) {
                            $('#filteredProducts').html(data);
                        },
                        error: function (error) {
                            console.error('FilterProducts error:', error);
                        }
                    });
                });
            });


        $(document).ready(function () {
            $('.brand-checkbox').change(function () {
                var brandId = $(this).data('brand-id');

                if ($(this).prop('checked')) {
                    $.ajax({
                        url: '/Shop/FilterProducts',
                        type: 'POST',
                        data: { selectedBrand: brandId },
                        success: function (data) {
                            $('#filteredProducts').html(data);
                        }
                    });
                } else {
                    $.ajax({
                        url: '/Shop/FilterProducts',
                        type: 'POST',
                        data: { selectedBrand: null},
                        success: function (data) {
                            $('#filteredProducts').html(data);
                        }
                    });
                }
            });
        });

        $(document).ready(function () {
            var dataBrain = $("#data-brain");

            $('.category-link').click(function (e) {
                e.preventDefault();

                var categoryId = $(this).data('category-id');
        
                var selectedCategory = categoryId;

                if ($(this).hasClass('checked')) {
                    selectedCategory = null;
                }

                $('.category-link').removeClass('checked');

                $.ajax({
                    url: '/Shop/FilterProducts',
                    type: 'POST',
                    data: { selectedCategory: selectedCategory },
                    success: function (data) {
                        $('#filteredProducts').html(data);
                    }
                });

                $(this).toggleClass('checked');
            });
        });

        $(document).ready(function () {
            $('.color-main').click(function () {
                var colorId = $(this).data('color-id');
        
                var selectedColor = colorId;

                if ($(this).hasClass('checked')) {
                    selectedColor = null;
                    $(this).removeClass("checked");
                } else {
                    $(this).addClass("checked");
                }

                $.ajax({
                    url: '/Shop/FilterProducts',
                    type: 'POST',
                    data: { selectedColor: selectedColor },
                    success: function (data) {
                        $('#filteredProducts').html(data);
                    }
                });
            });
        });

        $(document).ready(function () {
            var currentPage = getClickedPageNumber();

            $("#price-slider").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [10, 1000],
                slide: function (event, ui) {
                    $("#price-range").text("$" + ui.values[0] + " - $" + ui.values[1]);

                    filterProducts(ui.values[0], ui.values[1], getClickedPageNumber());
                }
            });

            filterProducts(10, 1000, currentPage);
        });

        $(document).on("click", ".pagination a.page-link", function (e) {
            e.preventDefault();

            var clickedPage = $(this).data("page");

            var selectedOption = $("#viewDateForm .list .option.focus.selected");
            var dataValue = selectedOption.data("value");

            var selectedOption1 = $("#viewProductForm .list .option.selected.checked");
            var dataValue1 = selectedOption1.data("value");

            var colorMain = $(".color-main.checked");
            var colorValue = colorMain.data("color-id");

            var categoryLink = $(".category-link.checked");
            var categoryValue = categoryLink.data("category-id");

            var brandCheckbox = $(".brand-checkbox");
            var brandValue = brandCheckbox.data("brand-id");

            var minPrice = $("#price-slider").slider("values", 0);
            var maxPrice = $("#price-slider").slider("values", 1);

            filterProducts(minPrice, maxPrice, clickedPage,dataValue,dataValue1,colorValue,categoryValue,brandValue);
        });

        $(document).on("click", "#viewProductForm .list .option", function () {
            $("#viewProductForm .list .option").removeClass("checked");

            $(this).addClass("checked");
        });

        function getClickedPageNumber() {
            var activePageLink = $(".pagination .page-item.active a.page-link");
            return activePageLink.length > 0 ? activePageLink.data("page") : 1;
        }

        function filterProducts(minPrice, maxPrice, page,dataValue,dataValue1,colorValue,categoryValue,brandValue) {
            $.ajax({
                url: '/Shop/FilterProducts',
                type: 'POST',
                data: {
                    minPrice: minPrice,
                    maxPrice: maxPrice,
                    page: page,
                    selectedDate: dataValue,
                    pageSize: dataValue1,
                    selectedColor: colorValue,
                    selectedCategory: categoryValue,
                    selectedBrand: brandValue
                },
                success: function (data) {
                    $('#filteredProducts').html(data);
                }
            });
        }

    </script>
}